@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background-color: theme('colors.primary.light'); */
}

/* body.dark {
    background-color: theme('colors.primary.dark');
} */

.opacity-0 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.animate-slidein {
    opacity: 1;
    animation: slidein 0.5s forwards;
}
.custom-pagination {
    margin-top: 40px;
}
html {
    scroll-behavior: smooth;
}
